<!doctype html>
<html>
<head>
  <title>Apocalibuzz</title>
  <script src="/public/js/vendor/socket.io.js"></script>
  <script src="/public/js/vendor/handlebars.min.js"></script>
  <script src="/public/js/dynamics.js"></script>
  <script src="/public/js/app.es5.js"></script>
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
</head>
<body>
  {{{body}}}
</body>
</html>
