<!doctype html>
<html>
<head>
  <title>Zombeezz</title>
  <script src="/public/js/socket.io.js"></script>
  <script src="/public/js/handlebars.min.js"></script>
</head>
<body>
  {{{body}}}
</body>
</html>
