<!doctype html>
<html>
<head>
  <title>Zombeezz</title>
  <script src="/public/js/vendor/socket.io.js"></script>
  <script src="/public/js/vendor/handlebars.min.js"></script>
  <script src="/public/js/app.es5.js"></script>
</head>
<body>
  {{{body}}}
</body>
</html>
