<form action="/host" method="post">
  <button type="submit">Create</button>
</form>
<form action="join" method="post">
  <input name="code" type="text" placeholder="Code">
  <input name="name" type="text" placeholder="Your name">
  <select name="team">
    <option value="blue">Blue</option>
    <option value="green">Green</option>
  </select>
  <button type="submit">Join</button>
</form>
