<form action="/host" method="post">
  <button type="submit">Create</button>
</form>
<form action="join" method="post">
  <input name="code" type="text" placeholder="Code">
  <input name="name" type="text" placeholder="Your name">
  <button type="submit">Join</button>
</form>
