<h1>Apocalibuzz</h1>

<section class="state init">
  <h2>Code</h2>
  <div class="code">{{code}}</div>

  <h2>Players</h2>
  <div class="players">
    <script type="text/x-handlebars" id="template-players">
    <ul>
    \{{#each players}}
      <li>\{{name}}</li>
    \{{/each}}
    </ul>
    </script>
  </div>
</section>

<section class="state game">
  <div class="hive blue">
    <h2>Blue hive</h2>
  </div>

  <div class="hive green">
    <h2>Green hive</h2>
  </div>

  <div class="bee">
    <h2>Current bee</h2>
  </div>
</section>

<script>
runHost('{{code}}');
</script>
