<section class="init">
  <h2>Code</h2>
  <div class="code">{{code}}</div>

  <h2>Players</h2>
  <ul>
    {{#each players}}
      <li>{{name}}</li>
    {{/each}}
  </ul>
</section>

<section class="game">

</section>
