<section class="state init">
  <h2>Code</h2>
  <div class="code">{{code}}</div>

  <h2>Players</h2>
  <div class="players">
    <script type="text/x-handlebars" id="template-players">
    <ul>
    \{{#each players}}
      <li>\{{name}}</li>
    \{{/each}}
    </ul>
    </script>
  </div>
</section>

<section class="state game">

</section>

<script>
runHost('{{code}}');
</script>
