<section class="state init">
  <button class="button-start">Everybody is ready</button>
</section>

<section class="state game">
  <button class="button-bee">Bee</button>
  <button class="button-zombee">Zombee</button>
</section>

<script>
runPlayer('{{id}}');
</script>
