<section class="state init">
  <button class="button-start">Everybody is ready</button>
</section>

<section class="state game">
  <header>
    <script type="text/x-handlebars" id="template-bee">
    \{{#if name}}
      Vote for: \{{name}}
    \{{else}}
      Get ready!
    \{{/if}}
    </script>
  </header>
  <div class="controls">
    <button class="button-bee">Bee</button>
    <button class="button-zombee">Zombee</button>
  </div>
</section>

<script>
runPlayer('{{id}}');
</script>
